# PostgreSQL adapter
psycopg[binary]>=3.1.8

# Core Django & DRF
Django==5.2.3
djangorestframework==3.16.0
dj-rest-auth==7.0.1
djangorestframework_simplejwt==5.5.1

# Authentication
django-allauth==65.9.0
django-oauth-toolkit==3.0.1
drf_social_oauth2 # Add this line

# Documentation generation
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.7.1

# Celery & Redis
celery==5.4.0
redis==5.0.1
amqp==5.3.1
billiard==4.2.1
kombu==5.5.4
vine==5.1.0

# Task scheduling & results
django-celery-beat==2.8.1
django-celery-results==2.6.0

# Configuration & utilities
python-decouple==3.8
python-json-logger==3.3.0
django-environ==0.11.2

# Maintenance & assets
whitenoise==6.9.0
django-cors-headers==4.7.0
django-anymail==10.3
django-daraja==1.3.0

# Media & storage
django-storages==1.14.2
boto3==1.39.0
s3transfer==0.13.0

# For serving the Django app
gunicorn==23.0.0
pillow==11.2.1

# Error monitoring
sentry-sdk==2.32.0

# Supporting libraries
asgiref==3.8.1
async-timeout==5.0.1
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2024.7.4
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.4.2
click==8.1.3
configobj==5.0.9
constantly==15.1.0
coverage==7.4.4
cryptography==44.0.1
defusedxml==0.7.1
exceptiongroup==1.3.0
hyperlink==21.0.0
idna==3.7
importlib-metadata==4.6.4
incremental==21.3.0
inflection==0.5.1
Jinja2==3.0.3
jmespath==1.0.1
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
jwcrypto==1.5.6
MarkupSafe==2.0.1
more-itertools==8.10.0
mypy_extensions==1.1.0
oauthlib==3.2.2
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pluggy==1.6.0
prompt_toolkit==3.0.51
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycparser==2.22
PyHamcrest==2.0.2
PyJWT==2.9.0
pyparsing==2.4.7
pyrsistent==0.18.1
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2022.1
# Data formats
PyYAML==6.0.1
requests==2.32.4
requests-oauthlib==2.0.0
SecretStorage==3.3.1
six==1.16.0
sqlparse==0.5.3
svgwrite==1.4.3
tomli==2.2.1
typing_extensions==4.14.0
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.5.0
watchtower==3.4.0
wcwidth==0.2.13
zipp==3.19.1
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability

