{% extends 'store/main.html' %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card text-center">
        <div class="card-header bg-info text-white">
          <h1 class="card-title">Payment Pending</h1>
        </div>
        <div class="card-body">
          <div class="alert alert-info" style="margin-top: 15px">
            STK Push sent. Please check your phone and enter your PIN to
            complete payment.
          </div>
          <a href="{% url 'store' %}" class="btn btn-primary mt-3">
            Continue Shopping
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
